html,body{
    margin: 0px;
    padding: 0px;
}
body{
    background: #2ecc71;
}
.form-01{
    border:1px solid white;
    width:70%;
    margin: 25px auto;
    background: #3498db;
    border-radius: 10px;
    padding: 25px;
    box-sizing: border-box;
}

.form-01 .header h1{
    text-align: center;
    color: #ecf0f1;
}
.form-01 .input-01{
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    margin: 5px 0px;
    color: #34495e;
    font-size: 16px;
    border-radius: 10px;
    background: linear-gradient(#ecf0f1,#95a5a6)
}
.form-01 .input-01:focus{
    outline: none;
    border: none;
} 
.form-01 ::-webkit-input-placeholder{
    color:#34495e;
    padding: 4px; 
}

.form-01 ::-moz-input-placeholder{
    color:#34495e;
    padding: 4px;  
}

.form-01 .check-wrap input{
 float: left;   
}
.form-01 .check-wrap a{
    float: right;
    text-decoration: none;
    position: relative;
    top: 5px;
}
.form-01 .btn-01{
    width: 70%;
    margin: 10px auto;
    display: block;
    margin-top: 35px;
    padding: 10px;
    font-size: 18px;
    background:linear-gradient(#2ecc71,#27ae60);
    border-radius: 10px;
    color: #ecf0f1;
}
.form-01 .btn-01:hover{
    cursor:pointer;
}
.checkbox{
    width: 25px;
    height: 25px;
}
.check-wrap label{
    position: relative;
    top: 5px;
    left: 2px;
    font-weight: 800;
}

@media (min-width: 480px) and (max-width: 768px) {
    width: 75%;
}

@media (max-width: 480px) {
    width: 95%;
}

@media (min-width: 768px) and (max-width: 1024px) {
    width: 60%;
}
